@page "/forgetpassword";

@if (isGenerateOTPVisible)
    {
<h3>Forget Password</h3>

<EditForm Model="@confirmOTP" OnValidSubmit="@OnValid" style="max-width:800px;">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-2">
        <span><InputText @bind-Value="confirmOTP.email" placeholder="Enter Email"></InputText> <button class="btn btn-secondary" disabled="@isSendOTPDisabled" @onclick="@SendOTP">Send OTP</button></span>
    </div>
    <div class="mb-2">
        <InputText @bind-Value="confirmOTP.OTP" placeholder="Enter OTP"></InputText>
    </div>
    <div class="mb-2 text-right">
        <button class="btn btn-primary" disabled="@isDisabled">Confirm OTP</button>
    </div>
</EditForm>
<p>@message</p>
<p>@resendIn</p>
    }
    else if (isResetPasswordVisible)
    {
        <ResetPassword confirmOtp="confirmOTP"/>
    }