@page "/note";
@using Microsoft.AspNetCore.Authorization;

@using NotesBlaze.Components;

<style>
    .full-width {
        width: 100%;
        height: 80vh;
    }
</style>
@if (noteContentForm == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <EditForm Model="@noteContentForm" Context="formContext">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <textarea @bind="@noteContentForm.Title" />
        <textarea @bind="@noteContentForm.Content" class="full-width" />
        <button type="Submit" class="btn btn-primary" @onclick="@(()=>Submit())" hidden="@hideUpdateBtn">Update</button>
        <button class="btn btn-primary" hidden="@hideDeleteBtn" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" hidden="@hideShareBtn" @onclick="@(()=> OnBoardShareItem())">Share</button>
        <button class="btn btn-primary" hidden="@hideUnsubscribeBtn" data-bs-toggle="modal" data-bs-target="#unsubscribeModal">Unsubscribe</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightInfo" aria-controls="offcanvasRight">Info</button>
    </EditForm>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Share</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>@noteContentForm.Title</p>
            <ShareWith />
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightInfo" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">About</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Note Title</td>
                        <td>@stateContainer?.noteId?.Title</td>
                    </tr>
                    <tr>
                        <td>Created DTS</td>
                        <td>@stateContainer?.noteId?.CreatedDTS.ToLocalTime()</td>
                    </tr>
                    <tr>
                        <td>Last Modified DTS</td>
                        <td>@stateContainer?.noteId?.ModifiedDTS?.ToLocalTime()</td>
                    </tr>
                    <tr>
                        <td>Modified by</td>
                        <td>@stateContainer?.noteId?.ModifiedByName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Once delete, can never be retirived back.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" @onclick="@(()=>Reset())" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="unsubscribeModal" tabindex="-1" aria-labelledby="unsubscribeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unsubscribeModalLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Once unsubscribed, the note will not be available.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" @onclick="@(()=>Unsubscribe())" class="btn btn-primary" data-bs-dismiss="modal">Unsubscribe</button>
                </div>
            </div>
        </div>
    </div>
}

