@page "/register";

<h3>Register</h3>

<EditForm Model="@user" OnValidSubmit="@OnValid" style="max-width:500px;">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-2">
        <InputText class="form-control" @bind-Value="@user.Name" placeholder="Name"></InputText>
    </div>
    <div class="mb-2">
        <InputText class="form-control" @bind-Value="@user.email" placeholder="Enter Email"></InputText>
    </div>
    <div class="mb-2">
        <InputText type="password" class="form-control" @bind-Value="@user.password" placeholder="Password"></InputText>
    </div>
    <div class="mb-2">
        <InputText type="password" class="form-control" @bind-Value="@user.confirmpwd" placeholder="Confirm Password"></InputText>
    </div>
    <div class="mb-2 text-right">
        <button class="btn btn-primary" disabled="@isDisabled">
            @if (isDisabled)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            }
            Register
        </button>
    </div>
</EditForm>
<a href="/login">Sign In</a>
<p>@message</p>

